@import url("https://fonts.googleapis.com/css? family=IBM+Plex+Sans: 400, 700, 500, 600");

:root {
  --black: Orgba(0, 0, 0, 1);

  --royal-blue: rgba(47, 108, 229, 1);

  --chicago: rgba(91, 91, 91, 1);

  --monsoon: rgba(137, 137, 137, 1);

  --fuscous-gray: rgba(82, 82, 82, 1);
  --aluminium: rgba(169, 174, 184, 1);
  --gallery: rgba(236, 237, 239, 1);

  --bon-jour: rgba(100, 100, 100, 1);

  --white: rgba(255, 255, 255, 1);

  --font-size-xxxxs: 12px;

  --font-size-xxxs: 14px;

  --font-size-xxs: 15px;
  --font-size-xs: 16px;

  --font-size-s: 18px;
  --font-size-m: 19px;

  --font-size-1: 22px;
  --width-full: 100%;
  --font-family-ibm_plex_sans: "IBM Plex Sans";
}
* {
  box-sizing: border-box !important;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 99%;
  container-type: inline-size !important;
  border: 1px solid #444;
  flex-wrap: wrap;
}

/* Classes */

.ibmplexsans-semi-bold-black-18px {
  color: var(--black);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: var(--font-size-s);

  font-weight: 600;

  font-style: normal;
}
.navigation {
  display: none;
}
.navigation button {
  background: transparent;
  color: white;
}
.ibmplexsans-medium-black-18px {
  color: var(--black);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: var(--font-size-s);

  font-weight: 500;

  font-style: normal;
}
.ibmplexsans-normal-monsoon-16px {
  color: var(--monsoon);
  font-family: var(--font-family-ibm.plex sans);
  font-size: var(--font-size-xs);

  font-weight: 400;

  font-style: normal;
}
.ibmplexsans-semi-bold-black-22px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-1);

  font-weight: 600;

  font-style: normal;
}

.ibmplexsans-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex sans);
  font-size: var(--font-size-xxxs);

  font-weight: 400;
  font-style: normal;
}
.ibmplexsans-normal-chicago-19px {
  color: var(--chicago);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: var(--font-size-m);
  font-weight: 400;

  font-style: normal;
}
.ibmplexsans-medium-fuscous-gray-14px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-ibm.plex sans);

  font-size: var(--font-size-xxxs);
  font-weight: 500;

  font-style: normal;
}
.ibmplexsans-medium-black-15px {
  color: var(--black);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-xxs);

  font-weight: 580;
  font-style: normal;
}

.not-logged-in-desktop {
  align-items: flex-start;
  background-color: var(--white);
  border: 0px none;
  display: flex;
  flex-direction: column;
  height: 100%;

  box-sizing: border-box;
  gap: 28px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}
.flex-col-2 {
  align-items: center;
  min-height: 600px;
  width: var(--width-full);
}

.not-logged-in-desktop .flex-col-6 {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  box-sizing: border-box;
}

.overlap-group1 {
  display: flex;
  height: 55px;

  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0px 1px 2px #0000001f;
  margin-right: 2px;
  /* padding: 14px 72px; */
  padding: 10px 10px;
  margin-top: 10px;
  box-sizing: border-box;
  width: var(--width-full);
}

.whole {
  height: 24px;
  width: 163px;
}

.group-container {
  display: flex;
  gap: 14px;
  align-items: center;
  align-self: flex-end;
  background-color: #f2f2;
  border-radius: 21px;
  height: 42px;
  /* margin-left: 305px; */
  padding: 0 14px;
}

.search-for-your-favorite-groups-in-atg {
  font-family: var(--font-family-ibm_plex_sans);

  font-weight: 500;

  color: var(--chicago);
  font-size: var (--font-size-xxxs);
  min-height: 19px;
  min-width: 242px;

  letter-spacing: 0;
  line-height: normal;

  margin-top: 1px;
}
.filter {
  background: #f1f3f5;
  border-radius: 4px;
  margin-left: 150px;
  display: none;
}
#input-search {
  border: none;

  background: transparent;
}
.search-for-your-favorite-groups-in-atg:hover {
  color: var(--chicago);
}
.group-28 {
  height: 22px;

  width: 22px;
}

.baseline-arrow_drop_down-24px {
  margin-top: 4px;

  height: 24px;

  width: 24px;
}
.create-account-its-free {
  color: transparent;

  font-family: var(--font-family-ibm_plex_sans);

  font-size: var (--font-size-xs);
  font-weight: 400;

  letter-spacing: 0;

  line-height: normal;
  /* margin-left: 261px; */

  margin-top: 3px;

  min-height: 21px;

  /* min-width: 183px; */
  text-align: right;
}

.span0 {
  color: #2d2d2d;
  font-weight: 500;
}
.span1 {
  color: var(--royal-blue);
  font-weight: 700;
}
.overlap-group9 {
  height: 440px;
  margin-right: 2px;
  position: relative;
  width: var(--width-full);
}

.line {
  height: 1px;

  left: 0;
  object-fit: cover;

  top: 402px;
  width: var(--width-full);

  left: 21px;
}
.rectangle-3-1 {
  position: absolute;
  top: 0;
  width: var(--width-full);
  height: 440px;
}

.x142765-computer-engineers-follow-this {
  color: var(--white);

  font-family: var (--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);

  font-weight: 400;

  left: 16%;

  letter-spacing: 0;
  line-height: normal;
  position: absolute;

  top: 366px;
}

.rectangle-2 {
  height: 440px;
  object-fit: cover;

  position: absolute;
  top: 0;

  width: var(--width-full);
}

.title {
  color: var(--white);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: 36px;

  font-weight: 700;

  left: 16%;

  letter-spacing: 0;

  line-height: normal;
  position: absolute;

  top: 286px;
}

.overlap-group18 {
  display: flex;
  align-items: flex-start;

  background-image: url("https://anna- uploads.s3.amazonaws.com/projects/644d23bf04f7cca5eb948/releases/644241870412332aff1/img/in.svg");

  background-position: 50% 50%;
  background-size: cover;

  margin-left: 19px;
  margin-top: 11px;
}
.line-2 {
  height: 1px;
  object-fit: cover;
  width: 93px;
}

.group-container-1 {
  align-items: center;

  display: flex;
  padding: 20px;
  margin-left: 21px;
  margin-top: 40px;
  /* width: var(--width-full); */
}
.flex-shy {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;

  flex: 1 1;
  gap: 10px;
}
.group-34 {
  align-items: flex-start;

  display: flex;
  height: 21px;

  margin-bottom: 1px;
}
.article {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 20px;
  min-height: 21px;

  min-width: 47px;
}
.all-posts32 {
  color: var(--black);
  font-family: var(--font-family-ibm.plex, san);

  font-size: var(--font-size-xD);
  font-weight: 400;

  letter-spacing: 0;
  line-height: normal;

  min-height: 21px;

  min-width: 93px;
}
.education {
  letter-spacing: 0;

  line-height: normal;
  margin-left: 18px;
  min-height: 21px;
  min-width: 72px;
}

.place {
  letter-spacing: 0;
  line-height: normal;

  margin-left: 20px;

  min-height: 21px;
}

.event {
  letter-spacing: 0;

  line-height: normal;
  margin-left: 20px;
  min-height: 21px;
  min-width: 41px;
}

.overlap-group2 {
  display: flex;
  height: 36px;
  justify-content: flex-end;
  align-items: center;
  background-color: #edeeef;

  gap: 18px;
  border: 1px solid gray;

  border-radius: 4px;

  /* margin-left: 268px; */
  min-width: 133px;
  padding: 6px;
}

.baseline-arrow_drop_down-24px-1 {
  height: 22px;
  width: 22px;
}

.write-a-post {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  min-width: 83px;
}
.group-container-2 {
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 4px;
  margin-left: 16px;
  min-width: 125px;
  padding: 10px;

  display: flex;

  gap: 6px;
  height: 36px;
}

.join-group {
  color: var(--white);

  font-family: var(--font-family-ibm.plex sans);

  font-size: var(--font-size-xx);

  font-weight: 500;
  letter-spacing: 0;

  line-height: normal;

  min-height: 20px;
  min-width: 75px;
}
.baseline-group.add-24px {
  height: 22px;
  width: 22px;
}
.flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 59px;

  margin-left: 2px;
}

.group-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;

  width: var(--width-full);
}

.flex-col {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: -1px;
  min-height: 474px;
  padding: 25px;
  width: var(--width-full);
}

.flex-col-1 {
  align-items: center;
  min-height: 372px;
}
.education-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  line-height: normal;
  margin-left: 20px;
  margin-top: 20px;
  min-height: 25px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-top: 10px;
}

.tax-benefits-for-inv {
  letter-spacing: 0;
  line-height: 29.6px;
  min-height: 60px;
}

.baseline-more_vert-24px-1 {
  height: 28px;
  margin-top: 1px;
  width: 28px;
}
.rectangle-5 {
  height: 220px;
}

.ive-worked-in-ux-fo {
  letter-spacing: 0;
  line-height: 25.5px;
  margin-top: 12px;
  white-space: wrap;
  /* width: min(90vw,300px); */
  height: auto;
}

.flex-row-3 {
  align-items: center;
  display: flex;
}
.name {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  min-height: 24px;
  min-width: 96px;
}
.group-4 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-left: 321px;
  min-width: 97px;
}

.x14k-views {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  min-width: 69px;
  text-align: right;
}

.x24px {
  height: 18px;
  width: 18px;
}

.rectangle-3 {
  height: 48px;
  object-fit: cover;
  width: 48px;
}

.group-2 {
  align-items: center;

  display: flex;

  background-color: var(--gallery);
  border-radius: 2px;
  height: 36px;
  margin-left: 38px;

  min-width: 42px;
  padding: 0 12px;
}

.overlap-group5 {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid gray;
  border-radius: 4px;
  background-color: var(--white);
  margin-left: -1px;
  min-height: 271px;

  padding: 20px;
}

.flex-row-6 {
  align-items: center;
  display: flex;
  margin-top: 33px;
}

.name-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  min-height: 24px;
  min-width: 104px;
}
.job {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
}

.group-54 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 11px;

  height: 20px;
}

.outline-location_on-24px {
  margin-left: 40px;
  width: 20px;
}
.innovaccer-analytics-private-ltd {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  min-width: 226px;
}

.x-24px {
  height: 20px;

  width: 20px;
}
.x-india {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
}

.flex-row-5 {
  align-items: center;
  display: flex;
  gap: 24px;
  height: 30px;
  margin-top: 11px;
}

.software-developer {
  letter-spacing: 0;
  line-height: 29.6px;
  min-height: 30px;
  white-space: nowrap;
}

.baseline-more_vert-24px {
  height: 28px;

  width: 28px;
}

.overlap-group1-1 {
  display: flex;
  align-items: flex-start;
  background-color: var(--white);
  border: 0.7px solid;
  border-color: var(--aluminium);
  border-radius: 10px;
  height: 36px;
  margin-top: 16px;
  padding: 8.3px 265.3px;
}
.apply-on-timesjobs {
  color: #02b875;
  font-family: var (--font-family-ibm_plex_sans);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18.3px;
  min-width: 118px;
  text-align: center;
  white-space: nowrap;
}
.what-if-famous-brand {
  letter-spacing: 0;
  line-height: 29.5px;
  min-height: 60px;
}

.group-3 {
  height: 28px;
  margin-top: 1px;
  width: 28px;
}

.article-1 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 20px;
  margin-top: 20px;
  min-height: 25px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
}

.group-1 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-left: 202px;
  min-width: 97px;
}

.sarthak-kamra {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  min-height: 24px;
  min-width: 125px;
}

.flex-col-3 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 4px;
  gap: 10px;
  margin-left: -1px;
  min-height: 492px;
}

.group-container-5 {
  align-items: center;
  display: flex;
}
.group-52 {
  align-items: center;
  display: flex;
  gap: 10px;
  min-width: 162px;
}
.ronal-jones {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 182px;
}

.flex-col-4 {
  align-items: center;
  min-height: 412px;

  padding: 20px;
}
.group-container-3 {
  height: 182px;
  margin-top: 4px;
  position: relative;
}

.group-53 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  left: 0;
  min-width: 362px;
  position: absolute;
  top: 6px;
}

.fri-12-oct-2018 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  min-height: 20px;
  width: 142px;
}

.group-container-4 {
  height: 100px;

  padding: 25px 10px;
  align-items: center;
}
.group-6 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 2px 00000014, 0px 2px 8px 00000829;
  display: flex;
  flex-direction: column;
  min-height: 102px;
  position: absolute;
  gap: 13px;
  left: 492px;

  padding: 11px 12px;

  top: 0;
  width: 168px;
  visibility: hidden;
}

.edit {
  letter-spacing: 0;
  line-height: normal;

  min-height: 18px;

  min-width: 25px;
  text-align: right;
}
.group-6-item {
  line-height: normal;
  letter-spacing: 0;
}

.overlap-group {
  display: flex;
  align-items: flex-start;
  background-color: var(--white);
  border: 0.7px solid;
  border-color: var(--aluminium);
  border-radius: 10px;
  height: 36px;
  margin-top: 36px;
  padding: 8.3px 265.3px;
}
.visit-website {
  color: #e56135;
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18.3px;
  min-width: 80px;
}
.meetup {
  align-self: flex-start;

  line-height: normal;
  margin-left: 20px;

  letter-spacing: 0;
  margin-top: 20px;
  min-height: 25px;
}

.flex-row-4 {
  align-items: center;
  display: flex;
  gap: 15px;

  margin-right: 1px;
  margin-top: 9px;
}

.finance-investment {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  min-height: 29px;
}

.overlap-group3 {
  align-items: center;

  background-image: url("https://anima-uploads.s3.amazonaws.com/projects/644d23bf94fa88b5eb945/rel");

  background-size: 100% 100%;
  display: flex;

  height: 32px;

  min-width: 36px;
  padding: 0 4px;
}

.flex-col-5 {
  align-items: flex-start;
  margin-top: 27px;
  min-height: 94px;

  width: 245px;
}

.group-42 {
  display: flex;
  gap: 7px;

  align-items: flex-start;
  height: 32px;
  margin-top: 31px;
  min-width: 245px;
}

.your-location-will-h {
  color: var(--black);

  font-size: var(--font-size-xxxxs);

  letter-spacing: 0;

  font-family: var (--font-family-ibm_plex_sans);
  font-weight: 400;
  line-height: normal;
  min-height: 32px;
  opacity: 0.5;

  width: 220px;
}

.baseline-error_outline-24px {
  margin-top: 1px;

  height: 16px;

  width: 16px;
}

.line-3 {
  height: 1px;

  margin-top: 10px;
  width: 243px;
}
.flex-row-7 {
  align-items: center;
  display: flex;
  min-width: 243px;
}
.baseline-edit-24px {
  height: 20px;
  margin-left: 124px;
  width: 20px;
}

.noida-india {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  min-height: 18px;
  min-width: 77px;
}

body {
  margin: 0;
  padding: 0;
}
.mid-size-device {
  align-items: center;
  display: flex;
}
.bts {
  position: fixed;
  top: 80vh;
  border-radius: 100px;
  right: 15%;
  z-index: 99;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, #ff5c5c 0%, #f0568a 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
}
span,
button {
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: column;

  gap: 5px;
  width: fit-content;
  z-index: 99999;
}
.cabt {
  margin-top: 10px;
  background: #2f6ce5;
  border-radius: 20px;
  flex: 1 1;
}
.authbt {
  box-sizing: border-box;
  background: #ffffff;
  border: 0.6px solid #d9d9db;
  border-radius: 20px;
}
.modal-head {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  height: 50px;
  padding: 10px;
  background: #effff4;
  border-radius: 8px 8px 0px 0px;
  color: #008a45;
}
.modal-body {
  flex: 1 1;
  display: flex;
  gap: 10px;
}
.form-group h3 {
  font-weight: bolder;
}
.form-group {
  flex: 1 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal-image {
  flex: 1 1;
  width: 95%;
}
.login {
  display: none;
}
.modal-input-name {
  display: flex;
  gap: 10px;
}
.filter img {
  margin: auto;
  height: 5px;
}
.header-shapes {
  display: none;
}
.slt-flex {
  flex: 1 1;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
@container (min-width: 576px) {
  .group-container-1 {
    width: var(--width-full);
  }
}
@container (max-width: 1100px) {
  .flex-row-1 {
    display: block;
  }
}

@container (max-width: 748px) {
  .mid-size-device {
    display: none;
  }
}
@container (max-width: 710px) {
  .flex-row-1 {
    transform: scale(0.8);
    margin-left: 40px;
    margin-top: -150px;
  }
  .overlap-group9 {
    display: block;
    width: 96%;
  }
  .sm-hid {
    display: none;
  }
}

@container (max-width: 576px) {
  .flex-row-1 {
    transform: scale(0.6);
    margin-left: 40px;
    margin-top: -300px;
  }
  .flex-shy,
  .sm-hid {
    display: none;
  }
  .filter {
    display: flex;
    margin-left: 200px;
  }
  .overlap-group1 {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    position: absolute;
    left: 25px;
    top: 40px;
    z-index: 999;

    height: 30px;
  }
  .header-shapes {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
  }
}
.mobile-auth-btn {
  display: none;
}
@container (max-width: 460px) {
  .flex-row-1 {
    transform: scale(0.55);
    margin-left: 20px;
    margin-top: -350px;
  }
  .title {
    margin-left: -10px;
    font-size: 2.3rem;
  }
  .x142765-computer-engineers-follow-this {
    margin-left: -20px;
  }
  .filter {
    margin-left: 100px;
  }
}
@container (max-width: 390px) {
  .flex-row-1 {
    transform: scale(0.49);
    margin-left: 20px;
    margin-top: -400px;
  }
}

@container (max-width: 648px) {
  .modal-image {
    display: none;
  }
  .cabt {
    flex: 0 1 150px;
  }
  .mobile-auth-btn {
    display: inline-block;
  }
  .slt-child-2 {
    display: none;
  }
  .modal {
    align-items: center;
    justify-content: center;
  }
  #mobile-id {
    position: fixed;
    width: 90%;

    top: 50vh;
  }
}
.modal-cut {
  position: absolute;
  right: 15px;
  top: 70px;
  background: #fff;
  border-radius: 100%;
  color: #fff;
}

/*  */
.feedback-users .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 65%;
  max-width: 900px;
}
.feedback-users .card-1 {
  border: 2px solid #ddd;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.feedback-users .card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feedback-users .rectangle-5 {
  width: 100%;
}
.feedback-users .article-1 {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
}
.feedback-users .article-11 {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
}
.feedback-users .article-2 {
  flex-direction: column;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
  position: relative;
}
.feedback-users .article-1-p-1 {
  font-weight: bolder;
  font-size: 2.5rem;
}
.feedback-users .about {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.feedback-users .about-name {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: bolder;
  gap: 0.5em;
}
.feedback-users .like-view {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.feedback-users .group-3 {
  margin-right: 20px;
  transform: translateY(-60px);
}
.feedback-users .article-place {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.feedback-users .select {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #ffffff;
  right: 50px;
  top: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.feedback-users .select p {
  padding: 10px;
  padding-right: 50px;
  font-size: 1.6rem;
}
.feedback-users .select p:hover {
  background-color: #eee;
}
.feedback-users .visit-website {
  width: 90%;
  padding: 5px 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #00a;
  border-radius: 10px;
}
.feedback-users .group-c-2 {
  padding: 10px;
  margin: 0 10px;
}
.feedback-users .about-c-2 {
  border-bottom: 1px solid #222;
}

.feedback-users {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

@container (max-width: 768px) {
  .feedback-users {
    flex-direction: column;
    align-items: center;
  }
  .group {
    width: 100% !important;
  }
  .artcle-place {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }
  .article-place:first-child {
    font-size: 7px;
  }
  .article-1 {
    padding: 1px;
    margin: 0 !important;
  }
  .article-1-p-1 {
    font-size: 18px !important;
  }
  .like-view > img {
    display: none;
  }
  .like-view .x14k-views {
    display: none;
  }
}
@container (min-width:768px) and (max-width: 968px) {
  .feedback-users {
    flex-direction: column;
    align-items: center;
  }
  .group {
    width: 90% !important;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  cursor: move;
}

.item.dragging {
  opacity: 0.5;
}

.item.over {
  border: 2px dashed #000;
}
